.rounded-corners (@radius: 4px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.navbar {
  h2 {
    font-size: 120%;
    line-height: 40px;
  }
  .container {
    width: 940px;
  }
  .navbar-inner {
    .rounded-corners(0);
  }
}

.form-horizontal  {
  h2 {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 13px;
    font-size: 19.5px;
    line-height: 36px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #eee;
    font-weight: normal;
  }
  legend {
    font-weight: bold;
  }
}

#benchmarking {
  text-align: right;
  background-color: #FFF;
  border-top: 1px solid black;
  .kohana .profiler {
    display: none;
  }
}