::selection {/* Webkit */
	background: rgba(176,208,63,0.4);
}
::-moz-selection {/* Firefox */
	background: rgba(176,208,63,0.4);
}
::-webkit-input-placeholder {
	color: #CCC;
}
:-moz-placeholder {
	color: #CCC;
}
body, td, th {
	color: #333;
}
body {
	height: 35em;
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	color: #333;
	overflow: auto;
}
/* Fonts */

body, input[type=submit], input[type=text] {
	font-family: "Myriad Pro", Verdana, sans-serif;
}
/* Font sizes */
input, .clone {
	font-size: 1.1em;
	padding: 0.3em;
}
/* Box sizing */
input[type=text], .clone {
	width: 17em;
	background-color: transparent;
}
/* List elements */
li {
	list-style-type: none;
}
.column {
	/* Make the columns side-by-side */
	float: left;
	width: 50%;
}
section {
	margin-bottom: 2em;
	width: 32em;
	position: absolute;
	top: 0;
	font-size: 1.5em;
	display: none;
}
section:first-of-type {
	display: block;
}
#domain-search-failed {
	display: none;
}
nav {
	float: left;
	width: 4em;
	z-index: 9999;
}
footer {
	clear: both;
	display: none;
	color: #989898;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	width: 1000px;
	margin: 0 auto;
	border-top: 1px solid #C7C7C7;
}
footer > div {
	margin: 10px 0px;
}
#container {
	width: 48em;
	margin: 1em auto;
	position: relative;
}
/* Form Bits */
input.search.button {
	margin-left: -3.8em;
	width: 3.6em;
	z-index: 100;
}
input.search.text, .clone {
	padding-right: 4em;
	border: thin solid #ccc;
	text-align: center;
}
#domain-search-domain {
	color: #333;
}
input.searching {
	background: #fff url(images/wait.gif) top left repeat-x;
	background-size: auto 100%;
	color: #FFF;
}
div.searching {
	background-color: #b0d03f;
}
#domain-search li {
	text-align: left;
}
#domain-search li {
	float: left;
	display: inline-block;
}
#domain-search input.buy {
	float: right;
	font-size: 0.5em;
	width: 4em;
	margin-left: 1em;
	margin-top: 0.2em;
	opacity: 0.2;
}
#domain-search-available-result, #domain-search-alternative-result {
	display: table;
}
#domain-time {
	line-height: 3em;
}
#domain-time label {
	line-height: 1em;
}
.domain-name {
	color: #92b021;
}
.domain-layer {
	position: absolute;
	text-shadow: none;
	font-size: 1.1em;
	color: #b0d03f;
	padding: 0.4em;
	text-align: center;
	border-top: thin solid #FFF;
	border-right: thin solid #FFF;
}
.vat {
	font-variant: small-caps;
	font-size: 0.5em;
}
.year-selection, .type-selection {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	background-color: #EFEFEF;
	vertical-align: text-top;
	padding: 0 0.2em;
}
.selection input {
	display: none;
}
.selection span, .selection label {
	display: inline-block;
	clear: both;
	float: left;
	width: 100%;
	cursor: pointer;
}
.selection.selected {
	background-color: #b0d03f;
}
.selection:hover {
	background-color: #191919;
	color: #b0d03f;
	text-shadow: none;
}
.selection:active {
	background-color: #FFF;
}
.price {
	font-size: 0.8em;
}
p {
	font-size: 1.3em;
	font-weight: bold;
	margin: 0 auto;
}
/*#back, #next {
 position: absolute;
 top: 0;
 height: 100%;
 width: 4em;
 line-height: 30em;
 border-left: 1px solid #191919;
 border-right: 1px solid #191919;
 background-color: #EEE;
 }
 #back a:link, #back a:visited, #next a:link, #next a:visited {
 width: 100%;
 height: 100%;
 display: block;
 text-decoration: none;
 color: #000;
 }
 #back a:hover, #back a:active, #next a:hover, #next a:active, #domain-search li:hover {
 background-color: #191919;
 color: #b0d03f;
 cursor: pointer;
 }
 #back {
 left: 0;
 }
 #next {
 right: 0;
 }*/
.clone {
	border: 0;
	color: #fff;
	background-color: #b1d235;
	overflow: hidden;
	padding: 0.3em 0;
	margin: 0;
	width: 1px;
}
#loadingBar {
}
#progress {
	color: #FFF;
	float: right;
	margin: 86px 40px 0px 0px;
	text-align: right;
}
#domain-details form {
	text-align: left;
	width: 23em;
	margin: 0 auto;
}
#domain-details-postcode {
	text-align: left;
	width: 6em;
}
#domain-details input {
	border: none;
	margin: 0;
}
.icon {
	border: 1px solid #CCC;
	height: 58px;
	display: inline-block;
	margin: 2px auto;
	padding: 0;
	cursor: text;
	padding-left: 60px;
	background-repeat: no-repeat;
	background-position: top left;
	background-color: transparent;
}
.icon-name {
	background-image: url(images/name.jpg)
}
.icon-email {
	background-image: url(images/email.jpg)
}
.icon-postcode {
	background-image: url(images/postcode.png);
}
.icon-address {
	background: transparent url(images/postcode.png) top left no-repeat;
}
input, textarea {
	outline: none;
}
.button, a.button:link, a.button:visited {
	display: inline-block;
	margin: 0.2em;
	padding: 0.2em;
	color: black;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid #b0d03f;
	background-color: #b0d03f;
}
.button:hover, a.button:hover, .button:focus, a.button:focus {
	background-color: #191919;
	color: #b0d03f;
}
.button:active, a.button:active {
	color: #b0d03f;
	background-color: white;
}
label.error, #domain-search-domain.error {
	border: 1px solid #C00;
}
label.error input::-webkit-input-placeholder, input.error::-webkit-input-placeholder {
	color: #E00;
}
label.error input:-moz-placeholder, input.error:-moz-placeholder {
	color: #E00;
}
.button {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.button.selection {
	margin-top: -0.2em;
}
.button.selection.selected {
	background-color: white;
}
#domain-details-submit {
	display: inline-block;
}
/* * /
 * {
 outline: 1px dotted red;
 }
 /* */

#domain-summary input[type=text] {
	border: 1px solid #CCC;
	color: #333;
	background-color: #FFF;
	font-size: 0.8em;
	vertical-align: top;
}
#domain-summary label {
	width: 9em;
	display: inline-block;
	text-align: right;
	padding-right: 1em;
}
#domain-summary .radiolabel {
	width: 100%;
	text-align: left;
}
#domain-summary div {
	font-size: 0.8em;
}
#domain-summary .differentAddress {
	display: none;
}

header a:link, header a:visited {
    color: #fff;
    text-decoration: none;
}

header a:hover, header a:active {
    color: #B0D03F;
}

.errormessage {
    color: #C00;
    font-size: 0.8em;
    text-align: right;
    float: right;
    display: none;
}

#domain-billing-purchase {
    float: right;
}
